_ss_environment.php
assets/*
silverstripe-cache
.buildpath
.project
.settings
.DS_Store
.svn
.tgz

themes/*/.sass-cache
themes/*/build/components
themes/*/build/lib
themes/*/js/components
themes/*/node_modules
themes/*/js/build/components
themes/*/js/components

Users

vendor
framework
cms

composer.lock

## Silverstripe Modules ##
cms
config
display_logic
framework
googlesitemaps
gridfieldextensions
gridfieldpaginatorwithshowall
html5
linkable
maintenance-mode
reports
seo
silverstripe-dataobjectpreview
silverstripegmapsobject
siteconfig
sortablegridfield
staticpublisher
subsites

rightsidebar/
silverstripe-block/
silverstripe-standard-permissions/
silverstripe-menumanager/
salted-library/
cropperfield/
image-orientation-fixer/
tagfield/
index.php
quickaddnew/
lumberjack/
silverstripe-optimisedimage/
favicon.ico
var/
silverstripe-rest-api/
silverstripe.log
docs/
salted-cropper/
